# Ignore Gradle project-specific cache directory
.gradle
*.out
*.bin
cloudsploit_security_scanner
util/*.log
util/stage
util/stage/*
#ignore build artifacts dir
/build_artifacts
# Ignore Gradle build output directory
build
build_artifacts
reports
